{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/style3.css') }}">

    <style>
        .basket { width: 100% !important; }
    </style>
{% endblock %}

{% block title %}Panier{% endblock %}

{% block body %}
    <h1 class="text-center">Commande n°{{panier.id}}</h1>
    <h4 class="text-center">Payée le {{ panier.dateAchat ? panier.dateAchat|date('d/m/Y') : '' }}</h4>

    <p>
        <a class="btn-link" href="{{ path('app_panier_index') }}">Mon espace </a> > Historique des commandes > Commande n°{{ panier.id }}
    </p>
    <br/>

    {{ include ("contenu_panier/list.html.twig", { contenu_paniers: panier.contenuPaniers, super_admin: false, commande: false, display_action: false }) }}
{% endblock %}
