<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            {# <h2 class="form-title">{{ button_label is same as "Update" ? "Modifier un produit" : "Créer un produit" }}</h2> #}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ form_start(form) }}

                {{ form_widget(form) }}

                <button class="btn">{{ button_label|default( 'produit.sauvegarder'|trans ) }}</button>
            {{ form_end(form) }}
        </div><!-- End col -->
    </div><!-- End row -->

</div><!-- End container -->

