
{% extends 'base.html.twig' %}

{% block title %}
	{{produit.nom }}
{% endblock %}

{% block body %}
 <link rel="stylesheet" href="{{ asset('/css/style2.css') }}">
    <div class="product">
        <div class="header">
            <div class="back"></div>
        </div>
        
        <div class="main">
            <h2>{{produit.nom}}</h2>
            <div class="left">
                <img class="w-26" src="{{ asset('uploads/photos/' ~ produit.photo) }}" alt="Product Name" class="product-image"/>
            </div>
            <div class="right">
                <p> {{produit.description}}</p>
                <p>In stock.</p>
                <p class="quantity">QUANTITY : {{produit.stock}} </p>
            </div>



        </div>
        
        <div class="footer">
            <div class="left">
                <p id="price">{{produit.prix}} EUR</p>
            </div>
            <div class="right">
                <p>Add to Cart</p>
            </div>
        </div>
    </div>

    
    {{ include('contenu_panier/_form.html.twig', {form:form_contenu_panier})  }}

    <a href="{{ path('app_produit_index') }}">back to list</a>

    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
