{% block body %}
    <h3>{{ 'title.info'|trans }}</h3>
    <br/>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>{{ 'form.prenom'|trans }}</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>{{ 'form.nom'|trans }}</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-secondary">
        <a href="{{ path('app_utilisateur_update', {id: utilisateur.id}) }}">{{ 'form.edit'|trans }}</a>
    </button>
{% endblock %}
