{% extends 'base.html.twig' %}

{% block title %}{{ 'title.info'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.info'|trans }}</h1>

    <p><a class="btn-link" href="{{ path('app_panier_index') }}">{{ 'title.espace'|trans }}</a> > {{ 'form.edit'|trans }}</p>

    {{ form_start(form) }}
      {{ form_widget(form) }}
      <br/>
      <button class="btn">{{ button_label|default('form.sauvegarder'|trans) }}</button>
    {{ form_end(form) }}
{% endblock %}
