{% if contenu_paniers|length > 0 %}
        <table class="table">
        <thead>
          <tr>
                {% if super_admin or commande %}
                    <th>{{ 'commande.numero'|trans }}</th>
                    {% if super_admin %}
                        <th>{{ 'commande.user'|trans }} (ID)</th>
                    {% endif %}
                {% endif %}
                <th>{{ 'commande.produits'|trans }}</th>
                {% if commande is same as false %}
                    <th>{{ 'commande.prixuni'|trans }}</th>
                    <th>{{ 'commande.numero'|trans }}</th>
                {% endif %}
                <th>{{ 'commande.total'|trans }}</th>
                {% if commande %}
                    <th>{{ 'commande.date'|trans }}</th>
                {% endif %}
                {% if super_admin is same as false or (commande is same as true) %}
                    <th>Action</th>
                {% endif %}
          </tr>
      </thead>
      <tbody>
          {% for contenu_panier in contenu_paniers %}
              <tr>
                    {% if super_admin  or commande %}
                        <th>#{{ contenu_panier.id }}</th>
                        {% if super_admin %}
                            <td>{{ contenu_panier.panier.utilisateur.email }} (#{{ contenu_panier.panier.utilisateur.id }})</td>
                        {% endif %}
                    {% endif %}
                        <td class="col-md-2">
                            {% if commande is same as false %}
                                <img class="col-md-5" src="{{ asset('uploads/photos/' ~ contenu_panier.produit.photo) }}" title="{{contenu_panier.produit.nom}}" />
                                <br/>
                            {% endif %}
                            {{ contenu_panier.produit.nom }}
                        </td>
                    {% if commande is same as false %}
                        <td>{{ contenu_panier.produit.prix }}€</td>
                        <td>{{ contenu_panier.quantite }}</td>
                    {% endif %}
                    <td>
                        {% set montant = contenu_panier.produit.prix * contenu_panier.quantite %}
                        {{ montant }}€
                    </td>
                    {% if commande %}
                        <td>{{ contenu_panier.panier.dateAchat|date("d/m/Y h:i:s") }}</td>
                    {% endif %}
                    {% if (super_admin is same as false) or (commande is same as true) %}
                        <td>
                            {% if contenu_panier.panier.etat is same as true %}
                                <a class="btn btn-primary mr-2" href="{{ path('app_panier_show', {'id': contenu_panier.panier.id}) }}">{{ 'panier.voir'|trans }}</a>
                            {% else %}
                                    {{ include('contenu_panier/_delete_form.html.twig', {'id': contenu_panier.id}) }}
                            {% endif %}
                        </td>
                    {% endif %}
              </tr>
          {% endfor %}
      </tbody>
    {% else %}
        {% if super_admin %}
            <p class="bg-warning text-center">{{ 'commande.noencours'|trans }}</p>
        {% else %}
            <p class="text text-center">{{ 'commande.vide'|trans }}</p>
        {% endif %}
    {% endif %}
</table>
