<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="nav">
            <div class="nav-main">
                <div class="logo">PALE<span>TT</span></div>
                <ul class="nav-links">
                    <li class="nav-link"><a href="{{ path('app_produit_index') }}">Produits</a></li>
                    <li class="nav-link"><a href="">Notre marque</a></li>
                </ul>
            </div>

            <div class="cta">
                {% if app.user %}
                    <button class="btn btn-primary">Mon compte</button>
                    <button class="btn btn-secondary"><a href="{{ path('app_logout') }}">Log Out</a></button>
                {% else %}
                    <button class="btn btn-secondary"><a href="{{ path('app_register') }}">Sign Up</a></button>
                {% endif %}
            </div>
            <div class="menu">
                <button class="btn btn-primary menu"><i class="bi-list"></i></button>
                <ul class="nav-mobile">
                    <li class="nav-link"><a href="">Home</a></li>
                    <li class="nav-link"><a href="">Our Team</a></li>
                    <li class="nav-link"><a href="">Blog</a></li>
                </ul>
            </div>
        </nav>

        <div class="container mt-2">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <p class="alert alert-{{ type }}">{{ message }}</p>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
